@charset "EUC-KR";

body {
	background-color: lightblue;
}

h1 {
	color: white;
	text-align: center;
	font-size: 50px;
}

form {
	margin: 0 auto;
	width: 600px;
	padding: 2em;
	border: 2px;
	border-style: double;
	border-color: white;
	border-radius: 1em;
	background: lightpink;
}

span {
	color: white;
}

.divOfTheText {
	text-align: center;
}

form input {
	background: white;
}